.preferens__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}
.preferens__itempr {
  max-width: 270px;
  color: $primary-text-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.preferens__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  padding: 25px 100px;

  background: $color-btn-bg;
  border-radius: 4px;
}

.preferens__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
.preferens__p {
  padding-top: 10px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $title-tex-color;
}
